// header {
//   position: absolute;
//   width: 100%;
// }

.spacer {
  flex: 1 1 auto;
}

.header-right {
  padding-right: 40px;
}

.login {
  color: white;
  text-decoration: none;
  padding-right: 16px;
}
