<div *ngIf="products">
    <div class="crop-image">
        <img [src]="image" [alt]="products.name">
    </div>
    <div>
        <ul>
            <li>Nombre: {{ products.name }}</li>
            <li>Precio: {{ products.price | currency }}</li>
        </ul>
        <p>{{ products.description }}</p>
        <p></p>
    </div>
    <!-- <button (click)="createProduct()">Crear</button>
    <button (click)="updateProduct()">Editar valores</button>
    <button (click)="deleteProduct()">Borrar</button> -->
</div>
