<!-- <footer>
  <div class="container">
    <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="box">
                <h3>Productos</h3>
                <ul>
                    <li><a routerLink="/products" [queryParams]="{ type: 'news'}">Nuevos Productos</a></li>
                    <li><a routerLink="/products" [queryParams]="{ type: 'offer'}">En oferta</a></li>
                    <li><a routerLink="/products" [queryParams]="{ type: 'latest'}">Últimos productos</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="box">
                <h3>Acerca de PlatziStore</h3>
                <ul>
                    <li><a routerLink="/about-us">Sobre nosotros</a></li>
                    <li><a routerLink="/stores">Nuestras tiendas</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="box">
                <h3>Contacto</h3>
                <mat-form-field>
                    <input matInput placeholder="Digite su correo" [formControl]="emailField" type="email" id="inputEmail">
                </mat-form-field>
                <button mat-raised-button [disabled]="emailField.invalid" (click)="sendMail()">Enviar</button> -->
                <!-- <mat-form-field color="accent" class="full-width">
            <input [formControl]="emailInput" matInput placeholder="Su correo" type="email">
          </mat-form-field>
          <button (click)="registerMail()" [disabled]="emailInput.invalid" mat-raised-button color="accent">Suscribirse</button> -->
            <!-- </div>
        </div>
    </div>
  </div>
</footer> -->
<div class="footer-dark mt-4">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Products</h3>
                  <ul>
                      <li><a href="#">New Products</a></li>
                      <li><a href="#">In Offer</a></li>
                      <li><a href="#">Lasts Products</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Company Name</h3>
                  <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
              </div>
              <div class="col item social"><a href="https://twitter.com/chr_aguilar"><i class="icon ion-social-twitter"></i></a><a href="https://www.linkedin.com/in/christian-aguilar-matus-de-la-parra-014a6119a/"><i class="icon ion-social-linkedin"></i></a><a href="https://github.com/christian-aguilar1"><i class="icon ion-social-github"></i></a></div>
          </div>
          <p class="copyright">Christian Aguilar © 2021</p>
      </div>
  </footer>
</div>
